@charset "utf-8";

@import "normalize";
@import "grid-settings";
@import "bourbon";
@import "neat";
@import "locations";

.content {
  max-width: 860px;
  min-height: 900px;
  margin: 40px auto;
}

h2 {
  color: #C32F34;
}

footer {
  clear: both;
  text-align: center;
  padding: 10px;
  background-color: darken(red, 10%);
  color: lighten(red, 35%);
}

.logo-link {
  flex-grow: 1
}

.logo-link img {
  max-width: 50px;
}

header {
  align-content: center;
  background-color: rgba(46,48,58,0.96);
  display: flex;
  padding: 10px 20px 5px 20px;
}

nav {
  flex-grow: 3;
}

nav a, .contact a {
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}

.contact {
  flex-grow: 1;
  margin-top: 16px;
}

.contact a {
  float: right;
}
