@charset "utf-8";

.content {
  max-width: 860px;
  margin: 40px auto;
}

.content h2 {
  color: #C32F34;
}

.logo-link {
  flex-grow: 1
}

.logo-link img {
  max-width: 50px;
}

header {
  align-content: center;
  background-color: rgba(46,48,58,0.96);
  display: flex;
  padding: 10px 20px 5px 20px;
}

nav {
  flex-grow: 3;
}

nav a, .contact a {
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}

.contact {
  flex-grow: 1;
  margin-top: 16px;
}

.contact a {
  float: right;
}





.location-card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 5px;
  margin-bottom: 10px;
}

.location-card img {
  max-width: 100%;
}
