---
title: Open Source - thoughtbot
---

<h2>
  Open Source
</h2>

<p>
  When we build software, patterns emerge. We hate re-inventing the wheel, so
  when we can’t find an existing library or utility to solve common problems, we
  extract a solution ourselves and release it as an open source software
  project.
</p>
