---
title: Our Products - thoughtbot
---

<h2>
  Our Products
</h2>

<p>
  Over the years, we have extracted products for designers and developers from
  our client work such as Airbrake (an error handling and notification service)
  and Copycopter (an internationalization service). We are proud to currently
  run the following products.
</p>
