---
title: Our Work - thoughtbot
---

<h2>Our Work</h2>

<p>We have worked with a variety of clients such as one person startup
  businesses, Fortune 500 enterprises, universities, and non-profits. For every
  project, we focus on user outcomes, usable interfaces, clean code, and working
  software.</p>
